.post {
    border: 1.4px solid var(--color-grey);
    padding: 1em;
    border-radius: 1em;
    background-color: white;
    margin: 0.5em 0;
}

.userInfo {
    width: 100%;
    display: flex;
    align-items: center;
}

.body {
    white-space: pre-line;
    /* line-height: 1rem; */
}

.reactionsInfo {
    display: flex;
    list-style: none;
    font-size: 0.8rem;
    border-bottom: 0.1px solid var(--color-grey);
}

.reactionsInfo > li {
    margin: 0.5em 0.5em 0.5em 0;
}

.userActions {
    display: flex;
    list-style: none;
}

.userActions > li {
    margin: 0.3em 0.5em;
    cursor: pointer;
}

.meta {
    font-size: 0.85rem;
    padding: 0 0.5em;
    color: var(--app-color-grey);
    cursor: pointer;
}


.likeBtn {
    cursor: pointer;
}

.reacted {
    color: var(--color-blue);
    fill: var(--color-blue);
    font-weight: 500;
}