:root {
    --app-background-color: #f3f2ef;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #585c63;
}

img {
    max-width:100%;
    max-height:100%;
    height: auto;
}