

.imagesSection {
    width: 100%;
    height: 40vh;
    background: rgba(200, 200, 200, 0.8);
    justify-content: space-around;
    margin-bottom: 1.5em;
}

.imagesContainer {
    height: 100%;
    position: relative;
    display: flex;
    justify-content: space-around;
    background-size: cover;      
    background-repeat:   no-repeat;
    background-position: center center;
    background-color:rgba(00, 0, 00, 0.6);
    background-blend-mode: darken; 
}

.profilePic {
    position: absolute;
    bottom: -3em;
    border-radius: 50%;
    /* width: 40%; */
    /* height: 60%; */
    width: 170px;
    height: 170px;
    max-width: 50%;
}

.profilePic > img {
    border-radius: 50%;
    background-color: grey;
    width: 170px;
    height: 170px;
    /* max-width: 100%;
    height: auto; */
}

.editProfilePicButton {
    font-size: 1.2rem;
    top: 0.5em;
    right: 0.5em;
    background: grey;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 0.4em;
    cursor: pointer;
}

.editCoverPicButton {
    position: absolute;
    top: 1em;
    right: 1em;
    background: white;
    font-size: 1rem;
    font-weight: 600;
    color: black;
    cursor: pointer;
    padding: 0.5em;
    border-radius: 0.3em;
}