

.imagesSection {
    width: 100%;
    height: 50vh;
    background: rgba(200, 200, 200, 0.8);
    justify-content: space-around;
}

.imagesContainer {
    height: 100%;
    position: relative;
    display: flex;
    justify-content: space-around;
    background-size: cover;      
    background-repeat:   no-repeat;
    background-position: center center;
    background-color:rgba(00, 0, 00, 0.6);
    background-blend-mode: darken; 
}

/* imagesContainer > img {
    position: absolute;
    z-index: 3;
}

.imagesContainer::after {
    content: ' ';
    position: absolute;
    background-color: rgba(250, 250, 250, 0.5);
    width: 100%;
    height: 100%;
} */

.profilePic {
    position: absolute;
    bottom: -3em;
    border-radius: 50%;
    /* z-index: 3; */
    /* height: 60%; */
    width: 230px;
}

.profilePic > img {
    border-radius: 50%;
    background-color: grey;
    height: 220px;
    width: 100%;
}

.editProfilePicButton {
    font-size: 1.5rem;
    bottom: 1em;
    right: 0.5em;
    background: grey;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 0.4em;
    cursor: pointer;
}

.editCoverPicButton {
    position: absolute;
    bottom: 1em;
    right: 1em;
    background: white;
    font-size: 1rem;
    font-weight: 600;
    color: black;
    cursor: pointer;
    padding: 0.5em;
    border-radius: 0.3em;
}