.userInfoForm {
    justify-content: space-around;
}

.userInfoForm label {
    font-weight: 600;
    margin: 1em 0;
    margin-right: 0.5em
}

.uneditable {
    border: none;
    background: inherit;
}

.uneditable > input {
    font-size: 1rem;
    font-weight: 500;
}