.formBtn {
    background: white;
    border-radius: 1em;
    margin: 1em 0;
    align-items: center;
    padding: 0.2em;
}

.newPostBtn {
    border: 1px solid grey;
    flex: 1;
    margin: 0 1.5em;
    padding: 0.6em;
    border-radius: 1em;
    color: grey;
    cursor: pointer;
    font-weight: 500;
}

.form {
    background-color: white;
    /* padding: 0.8em; */
    overflow: hidden;
    /* border-radius: 1em; */
    /* margin: 0.5em; */
}

.form > button {
    float: right;
    padding-left: 2em;
    padding-right: 2em;
}